body {
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url("img/bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

#title {
    font-size: 500%;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    margin: 20px;
}

#info {
    font-size: 150%;
    margin: auto;
    margin-bottom: 30px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

#court-border {
    padding: 2px;
    border: 10px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #00000050;
}

#court {
    display: grid;
    grid-template-columns: repeat(40, 20px);
    grid-template-rows: repeat(30, 20px);
    gap: 2px;
    margin: 0;
}

#reference, a {
    color: #FFC4A8;
}

#stats {
    margin-left: 20px;
    padding: 0 20px;
    border: 10px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    background-color: #00000025;
    width: fit-content;
}

#stats-header{
    text-decoration: underline;
    color: #FFC4A8;
}

a:visited, a:active, a:hover {
    color: inherit;
}

.cell {
    background-color: #fff;
}

.cell.conquered {
    background-color: #FFC4A8;
}

.cell.trail {
    background-color: #ffadcf;
}

.cell.player {
    background-color: #ff006a;
}

.cell.obstacle {
    background-color: #000;
}