body {
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url("img/bg.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

#title {
    font-size: 500%;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    margin: 20px;
}

#info {
    font-size: 150%;
    margin: auto;
    margin-bottom: 30px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

#court-border {
    padding: 2px;
    border: 10px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #00000050;
    position: relative;
}

#court {
    display: grid;
    grid-template-columns: repeat(40, 20px);
    grid-template-rows: repeat(30, 20px);
    gap: 2px;
    margin: 0;
}

#reference, a {
    color: #FFC4A8;
}

a:visited, a:active, a:hover {
    color: inherit;
}

hr {
    border: 2px solid white;
    margin: -10px;
}

#stats {
    margin-left: 20px;
    padding: 0 20px;
    border: 10px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    background-color: #00000025;
    width: fit-content;
}

.aside-header{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #FFC4A8;
}

ul {
  list-style-type: square;
  padding: 0px 15px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}

#overlay.hidden {
    display: none;
}

#overlay-text {
    color: #FFC4A8;
    font-size: 2em;
    text-decoration: underline;
}
#overlay p {
    margin: 10px 0;
}

.cell {
    background-color: #fff;
}

.cell.conquered {
    background-color: #FFC4A8;
}

.cell.trail {
    background-color: #ffadcf;
}

.cell.player {
    background-color: #ff006a;
}

.cell.obstacle {
    background-color: #000;
}

.blurred {
    filter: blur(4px);
}

.pulse {
    animation: changeColor 1s infinite;
}

@keyframes changeColor {
    0% {
        color: #ffdbca;
    }
    80% {
        color: #ffffff;
    }
    100% {
        color: #ffdbca;
    }
}